name: Promote production version to 100%

on:
  workflow_dispatch:

jobs:
  cancel_previous:
    name: Cancel previous runs
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0
        with:
          access_token: ${{ github.token }}

  promote_proudction_to_100:
    name: Promote production version to 100%
    runs-on: ubuntu-latest
    needs: cancel_previous

    steps:
      - name: Checkout develop
        uses: actions/checkout@v2
        with:
          ref: develop
          fetch-depth: 0 # Whole repo history

      - name: Fetch all tags
        run: git fetch origin +refs/tags/*:refs/tags/*

      - name: Install fastlane-plugin-android_build_tools deploy key
        uses: shimataro/ssh-key-action@v2.3.0
        with:
          key: ${{ secrets.ANDROID_BUILD_TOOLS_DEPLOY_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Set-up JDK 1.8
        uses: actions/setup-java@v2.1.0
        with:
          distribution: zulu
          java-version: 8

      - name: Set-up and configure Ruby
        uses: ruby/setup-ruby@v1.78.0
        with:
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Restore caches
        uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Install keysafe deploy key
        uses: shimataro/ssh-key-action@v2.3.0
        with:
          key: ${{ secrets.KEYSAFE_DEPLOY_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
          if_key_exists: replace

      - name: Promote production version to 100%
        env:
          KEYSAFE_REPO_URL: ${{ secrets.KEYSAFE_REPO_URL }}
          APP_KEYSAFE_NAME: ${{ secrets.APP_KEYSAFE_NAME }}
          APP_KEYSAFE_PASSWORD: ${{ secrets.APP_KEYSAFE_PASSWORD }}
        run: |
          bundle exec fastlane promote_to_production_100 app_keysafe_name:"$APP_KEYSAFE_NAME" app_keysafe_password:"$APP_KEYSAFE_PASSWORD" artifact_type:AAB
